/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #2c3e50;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header .logo {
    width: 50px;
    margin-right: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    text-align: center;
}

/* Login-link */
.login-link {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.login-link:hover {
    background-color: #fff;
    color: #2c3e50;
}

/* Rules section */
.rules {
    font-size: 1.2rem;
    color: #fff;
    background: #2c3e50;
    padding: 1rem;
    border-radius: 5px;
}

.quiz-rules {
    list-style-type: none;
    color: #fff;
    font-size: 1rem;
}

/* Customize the progress bar appearance */
progress {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}

/* Define the track appearance */
progress[value] {
    appearance: none;
    -webkit-appearance: none;
}

/* Customize the track color and style */
progress[value]::-webkit-progress-bar {
    background-color: #e6e6e6;
    border-radius: 10px;
}

/* Customize the progress bar color and style */
progress[value]::-webkit-progress-value {
    background-color: #3498db;
    border-radius: 10px;
}

/* Question section */
#question {
    background: #ecf0f1;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

/* Answers section */
#answerOptions {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-bottom: 20px;
}

.answer-option {
    border: 1px solid #bdc3c7;
    padding: 10px;
    text-align: center;
    line-height: 100px;
    box-sizing: border-box;
    background-color: #ecf0f1;
}

/* Score section */
#score {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background: #34495e;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
}

#scoreValueBox,
#scoreLabelBox {
    padding: 1rem;
    border-radius: 5px;
    background: #2c3e50;
}

#scoreValue {
    font-size: 2rem;
    color: #2ecc71;
    margin-bottom: 0.5rem;
}

.score-out-of {
    color: #999;
    font-size: 1.5rem;
}

#scoreLabel {
    font-size: 1.2rem;
    color: #bdc3c7;
    margin-bottom: 0.5rem;
}

#answersBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#correctAnswersBox,
#incorrectAnswersBox {
    padding: 1rem;
    border-radius: 5px;
    background: #2980b9;
}

#correctAnswersLabel,
#incorrectAnswersLabel {
    font-size: 1rem;
    color: #bdc3c7;
    margin-bottom: 0.2rem;
}

#correctAnswers,
#incorrectAnswers {
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 10px;
}

.score-correct {
    color: #2ecc71;
    ;
}

.score-incorrect {
    color: red;
}

/* Next button section and retry button */
#nextButton,
#retryButton {
    display: block;
    width: 100%;
    padding: 1rem;
    background: #2c3e50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#retryButton {
    margin-bottom: 100px;
}

/* Add hover effect to both buttons */
#nextButton:hover,
#retryButton:hover {
    background-color: #3498db;
    color: #fff;
}

/* Footer */
footer {
    background: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: white;
    margin: 0 15px;
}

#copyright-text {
    padding: 5px;
}

#social-links {
    display: flex;
    align-items: center;
}

/* Login page */
/* Username display */
#usernameDisplay {
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
}

/* Registration form */
main {
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form styles */
form {
    max-width: 90%;
    margin: 50px auto;
    background: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

form input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form input[type="submit"] {
    padding: 10px;
    background: #2c3e50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Add hover effect */
form input[type="submit"]:hover {
    background-color: #3498db;
    color: #fff;
}

/* Home button */
.home-button {
    display: block;
    margin-top: -20px;
    margin: auto;
    background-color: #2c3e50;
    /* Updated background color */
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    /* Remove border */
    border-radius: 5px;
    /* Add border-radius for rounded corners */
    transition: background-color 0.3s, color 0.3s;
    /* Add transition for smooth color change */
    max-width: 90%;
    padding: 15px;
}

/* Add hover effect */
.home-button:hover {
    background-color: #3498db;
    color: #fff;
}

/* Media Queries for smaller screens */
@media only screen and (max-width: 768px) {
    header {
        padding: 0.5rem;
    }

    header .logo {
        width: 40px;
        margin-right: 5px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .rules {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .quiz-rules {
        font-size: 1rem;
    }

    main {
        max-width: 95%;
        padding: 1rem;
    }

    .login-link {
        position: absolute;
        text-align: center;
    }

    #answersBox {
        grid-template-columns: 1fr;
    }

    #nextButton,
    #retryButton {
        padding: 0.8rem;
        margin-top: 20px;
    }

    /* Login page */
    .opening-message {
        margin-top: 30px;
    }

    form {
        max-width: 95%;
        margin: 20px auto;
        padding: 15px;
    }

    form input[type="text"] {
        padding: 8px;
    }

    form input[type="submit"] {
        padding: 12px;
        /* Increase padding for larger button */
        font-size: 1.2rem;
        /* Increase font size for larger text */
        margin-top: 10px;
        /* Adjust the margin to move the button up */
    }

    .home-button {
        max-width: 95%;
    }

    /* Footer */
    footer {
        padding: 0.5rem;
    }

    #social-networks i {
        font-size: 160%;
        padding: 5%;
        color: white;
        margin: 0 5px;
    }
}


@media only screen and (max-width: 480px) {
    .login-link {
        font-size: 16px;
        position: absolute;
        margin-top: 70px;
        margin-right: 50px;
        text-align: center;
    }

    .opening-message {
        margin-top: 70px;
    }

    main {
        padding: 0.5rem;
    }

    form input[type="text"] {
        padding: 6px;
        margin-bottom: -70px;
    }

    form input[type="submit"] {
        padding: 8px;
        /* Adjust padding for smaller screens */
        font-size: 1rem;
        /* Adjust font size for smaller screens */
        margin-top: 10px;
        /* Adjust the margin to move the button up */
    }

    .quiz-rules {
        font-size: 0.9rem;
    }

    #score {
        padding: 1rem;
        margin-bottom: 0.5rem;
    }

    #answersBox {
        grid-template-columns: 1fr;
    }

    #correctAnswers,
    #incorrectAnswers {
        font-size: 1.2rem;
    }

    #nextButton,
    #retryButton {
        padding: 0.6rem;
        margin-top: 20px;
    }

    footer {
        padding: 0.3rem;
    }

    .home-button {
        padding: 5px;
    }
}