/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #2c3e50;
    /* Dark blue background for the header */
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header .logo {
    width: 50px;
    margin-right: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

/* Customize the progress bar appearance */
progress {
    width: 100%;
    height: 20px;
}

/* Define the track appearance */
progress[value] {
    appearance: none;
    -webkit-appearance: none;
}

/* Customize the track color and style */
progress[value]::-webkit-progress-bar {
    background-color: #e6e6e6;
    border-radius: 10px;
}

/* Customize the progress bar color and style */
progress[value]::-webkit-progress-value {
    background-color: #3498db;
    /* Light blue color for the progress bar */
    border-radius: 10px;
}

/* Question section */
#question {
    background: #ecf0f1;
    /* Light gray background for the question section */
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

/* Answers section */
#answerOptions {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.answer-option {
    border: 1px solid #bdc3c7;
    /* Light border color for the answer options */
    padding: 10px;
    text-align: center;
    line-height: 100px;
    box-sizing: border-box;
    background-color: #ecf0f1;
    /* Light gray background for the answer options */
}

/* Score section */
#score {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background: #34495e;
    /* Dark blue background for the score section */
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
}

#scoreValueBox,
#scoreLabelBox {
    padding: 1rem;
    border-radius: 5px;
    background: #2c3e50;
    /* Dark blue background for the score value and label boxes */
}

#scoreValue {
    font-size: 2rem;
    color: #2ecc71;
    /* Green color for the score value */
    margin-bottom: 0.5rem;
}

#scoreLabel {
    font-size: 1.2rem;
    color: #bdc3c7;
    /* Light gray color for the score label */
    margin-bottom: 0.5rem;
}

#answersBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#correctAnswersBox,
#incorrectAnswersBox {
    padding: 1rem;
    border-radius: 5px;
    background: #2980b9;
    /* Darker blue background for the answers boxes */
}

#correctAnswersLabel,
#incorrectAnswersLabel {
    font-size: 1rem;
    color: #bdc3c7;
    /* Light gray color for the sub-labels */
    margin-bottom: 0.2rem;
}

#correctAnswers,
#incorrectAnswers {
    font-size: 1.5rem;
    color: #e67e22;
    /* Orange color for the answers */
    display: inline-block;
    margin-right: 10px;
}

/* Next button section and retry button */
#nextButton,
#retryButton {
    display: block;
    width: 100%;
    padding: 1rem;
    background: #2c3e50;
    /* Dark blue background for the buttons */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Footer */
footer {
    background: #2c3e50;
    /* Dark blue background for the footer */
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}